<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container align-items-center">

        <a class="navbar-brand fw-bold" href="index.html">
            <img class="logo-dark" src="assets/images/logodark.png" width="200" height="60" alt="Infinite Protection" />
            <img class="logo-light" src="assets/images/logolight.png" width="200" height="60" alt="Infinite Protection" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Platform</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="product.html">Overview</a></li>
                        <li><a class="dropdown-item" href="safernet.html">Safernet</a></li>
                        <li><a class="dropdown-item" href="zed.html">Zed Penetration Testing</a></li>
                        <li><a class="dropdown-item" href="compliance.html">Zed Compliance Testing</a></li>
                        <li><a class="dropdown-item" href="howitwork.html">How they work together</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="podcast.html">Podcast</a></li>
                        <li><a class="dropdown-item" href="faqs.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="affiliate.html">Partner Program</a></li>
                        <li><a class="dropdown-item" href="blogs.html">Blogs</a></li>
                    </ul>
                </li>

                <li class="nav-item ms-lg-3">
                    <a class="nav-link" href="pricing.html">Pricing</a>
                </li>

                <li class="nav-item ms-lg-3">
                    <a class="nav-link" href="about.html">About</a>
                </li>

                <li class="nav-item ms-lg-3">
                    <label class="switch">
                        <input type="checkbox" id="theme-toggle">
                        <span class="slider">
                            <span class="icon moon">🌙</span>
                            <span class="icon sun">☀️</span>
                        </span>
                    </label>
                </li>

                <li class="nav-item ms-lg-3">
                    <a class="btn btn-outline-light">Sign Up Now</a>
                </li>

            </ul>
        </div>
    </div>
</nav>